<h2> <%= @application.name %> </h2><br>

<strong>Pets Applied for:</strong><br>
<% @application.pet_applications.each do |pet_app| %>
  <div id="<%= pet_app.id %>">
    <br><h3><strong><%= pet_app.pet_name %></strong></h3>
    <% if pet_app.approved == true %>
      <p>Approved</p>
    <% elsif pet_app.approved == false %>
      <p>Rejected</p>
    <% elsif pet_app.approved.nil? %>
      <%= button_to 'Approve', "/admin/applications/#{@application.id}", method: :patch, params: { approved: true, pet_id: pet_app.pet_id }, class:"btn btn-primary btn-sm" %>
      <%= button_to 'Reject', "/admin/applications/#{@application.id}", method: :patch, params: { approved: false, pet_id: pet_app.pet_id }, class:"btn btn-danger btn-sm" %><br>
    <% end %>
  </div>
  <% if @application.approved_application == "Approved" %>
    <p>Application Status: Approved</p>
  <% end %>

  <% if @application.rejected_application == "Rejected" %>
    <p>Application Status: Rejected</p>
  <% end %>
<% end %>
