<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @adopt.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @adopt.body %>
</p>

<%= link_to 'Edit', edit_adopt_path(@adopt) %> |
<%= link_to 'Back', adopts_path %>
