
<h2>Start an Application</h2>
<%= render 'applications/form' %>
<!-- <%= form_with url: "/applications", method: :post, local: true do |form|%>
  <%= f.label :name %><br/>
  <%= f.text_field :name %><br/>
  <%= f.label :street_address, "Street Address" %><br/>
  <%= f.text_field :street_address %><br/>
  <%= f.label :city, "City" %><br/>
  <%= f.text_field :city %><br/>
  <%= f.label :state, "State" %><br/>
  <%= f.text_field :state %><br/>
  <%= f.label :zip_code, "Zip Code" %><br/>
  <%= f.text_field :zip_code %><br/>
  <%= f.submit 'Submit' %>
<% end %> -->
